<main id="mainContent" class="content shifted p-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Edit TXT - <%= document.judul %></h3>
    <a href="/employee/documents" class="btn btn-secondary">Kembali</a>
  </div>

  <form action="/employee/documents/<%= document._id %>/editTxt" method="POST">
    <div class="mb-3">
      <textarea
        name="content"
        rows="20"
        class="form-control"
        style="font-family: monospace; white-space: pre"
      >
<%= content %></textarea
      >
    </div>
    <button type="submit" class="btn btn-primary">💾 Simpan</button>
  </form>
</main>