<div class="container-fluid">
  <div class="row g-0">
    <!-- Form Section -->
    <div class="col-md-6 form-section">
      <div class="form-container">
        <h2 class="heading">Login</h2>
        <p class="text">Silahkan Untuk Login</p>
        <form method="POST" action="/login">
          <div class="input-group">
            <input
              type="email"
              class="form-control shadow-sm"
              name="email"
              placeholder="Email"
              required
            />
          </div>
          <div class="input-group">
            <input
              type="password"
              class="form-control shadow-sm"
              id="password"
              name="password"
              placeholder="Password"
              required
            />
            <span
              class="input-group-text"
              id="togglePassword"
              style="cursor: pointer"
            >
              <i class="bi bi-eye"></i>
            </span>
          </div>
          <button type="submit" class="btn w-100 shadow-sm">Login</button>
        </form>
        <p class="info mt-3 text-center">
          Jika Belum Terdaftar, <a href="/register">Daftar Disini</a>
        </p>
      </div>
    </div>

    <!-- Right Section -->
    <div class="col-md-6 right-section d-none d-md-flex">
      <div class="overlay">
        <h3 class="heading">Selamat Datang Di Aplikasi Workspace</h3>
        <p class="text">
          Sambutan hangat untuk Anda yang baru bergabung di platform manajemen
          perkantoran terdepan.
        </p>
      </div>
    </div>
  </div>
</div>
