<div class="layout d-flex">
  <aside id="sidebar" class="sidebar collapsed">
    <ul class="nav flex-column mt-3">
      <li class="nav-item">
        <a class="nav-link" href="/employee/dashboard">
          <i class="bi bi-house-door-fill"></i><span class="link-text">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/employee/events">
          <i class="bi bi-calendar-event"></i><span class="link-text">Event</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/employee/articles">
          <i class="bi bi-newspaper"></i><span class="link-text">Article</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#documentSubmenu" role="button">
          <span><i class="bi bi-file-earmark me-2"></i><span class="link-text">Document</span></span>
          <i class="bi bi-caret-down-fill"></i>
        </a>
        <ul class="collapse list-unstyled ps-4" id="documentSubmenu">
          <li>
            <a href="/employee/documents" class="nav-link">Semua Dokumen</a>
          </li>
          <li>
            <a href="/employee/documents/folder" class="nav-link">Folder</a>
          </li>
          <li><a href="/employee/documents/file" class="nav-link">File</a></li>
        </ul>
      </li>
    </ul>
  </aside>
</div>