@import url("../components/navbar.css");
@import url("../components/font.css");
@import url("../components/main-content.css");
.heading {
  font-family: "Montserrat", sans-serif;
}

.date {
  font-family: "Work Sans", sans-serif;
}

img {
  width: 500px;
}

.col-md-6 {
  text-align: justify;
  font-family: "Nunito Sans", sans-serif;
}

.btn {
  background-color: #1b4332;
  color: white;
  font-family: "Work Sans", sans-serif;
}
.btn:hover {
  background-color: #0d5f5f;
  color: white;
}

.article-hero {
  width: 100%;
  height: 350px; /* bisa diganti 400px kalau mau lebih tinggi */
  background-size: cover;
  background-position: center;
  position: relative;
}

.article-hero .caption-box {
  background: rgba(0, 0, 0, 0.6); /* overlay hitam transparan */
}

.article-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.article-meta {
  font-size: 0.9rem;
  color: #ddd;
  font-family: "Raleway", sans-serif;
}

.information {
  text-align: justify;
  font-family: "Nunito Sans", sans-serif;
}