<!-- Navbar -->
<nav class="navbar navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <button class="btn btn-primary" id="toggleSidebar">
      <i class="fas fa-bars"></i>
    </button>
    <span class="navbar-brand ms-2">Nama Website</span>
  </div>
</nav>

<!-- Sidebar -->
<div class="d-flex">
  <div id="sidebar" class="sidebar expanded position-fixed top-0 start-0 pt-5">
    <ul class="nav flex-column mt-4">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-home me-2"></i><span class="link-text">Home</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-user me-2"></i><span class="link-text">Profile</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-cog me-2"></i><span class="link-text">Settings</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-info-circle me-2"></i><span class="link-text">About</span></a>
      </li>
    </ul>
  </div>
