body {
  overflow-x: hidden;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #0f2419;
  z-index: 1100;
}

#toggleSidebar {
  background-color: #1b4332;
  color: #fff;
}
#toggleSidebar:hover {
  background-color: #0d5f5f;
  color: #fff;
}

.brand-text {
  font-size: 25px;
}