@import url("../components/navbar.css");
@import url("../components/font.css");
@import url("../components/main-content.css");

.btn {
  background-color: #1b4332;
  color: white;
  font-family: "Work Sans", sans-serif;
}

.btn:hover {
  background-color: #0d5f5f;
  color: white;
}

.pagination .page-item:active .page-link {
  background-color: #0f2419;
  color: white;
}

.pagination .page-link {
  background-color: #1b4332;
  color: white;
}

.pagination .page-link:hover {
  background-color: #0d5f5f;
  color: white;
}

.event-card {
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  overflow: hidden;
  border-radius: 10px;
  min-height: 250px;
}

.event-card .card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* lebih gelap */
  z-index: 1;
}

.event-card .content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertikal tengah */
  align-items: center; /* horizontal tengah */
  padding: 20px;
  text-align: center;
}

.event-card .card-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.event-card .card-text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  margin-bottom: 15px;
}

.event-card .btn {
  font-family: "Work Sans", sans-serif;
}
.heading {
  font-family: "Montserrat", sans-serif;
}