<div
  class="modal fade"
  id="filterModal"
  tabindex="-1"
  aria-labelledby="filterModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <form method="GET" action="/articles">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filterModalLabel">Filter Article</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="tanggal" class="form-label">Tanggal</label>
            <input
              type="date"
              id="tanggal"
              name="tanggal"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="keyword" class="form-label">Keyword</label>
            <input
              type="text"
              id="keyword"
              name="keyword"
              class="form-control"
              placeholder="Cari judul atau tema..."
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Terapkan Filter</button>
          <a href="/articles" class="btn btn-secondary">Reset</a>
        </div>
      </div>
    </form>
  </div>
</div>