<main id="mainContent" class="content shifted p-4">
  <div class="header-section">
    <div class="header-overlay">
      <h1 class="heading">
        Welcome To <br />
        Office Hub
      </h1>
    </div>
  </div>

  <div class="p-4 bg-white">
    <h3 class="mb-3 heading">Apa Itu Smart Workspace Office?</h3>
    <p class="text">
      Sebuah Smart Workspace Office adalah lingkungan kerja modern yang
      mengintegrasikan teknologi digital, perangkat pintar, dan analisis data
      untuk mengoptimalkan produktivitas, kenyamanan, efisiensi energi, dan
      kolaborasi. Konsep ini menggabungkan infrastruktur fisik dengan solusi
      digital untuk menciptakan pengalaman kerja yang lebih baik.
    </p>
  </div>
</main>