 <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
          <form method="GET" action="/events">
         <div class="modal-header">
           <h5 class="modal-title" id="filterModalLabel">Filter Event</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
           <div class="mb-3">
             <label for="tanggal" class="form-label">Tanggal</label>
             <input type="date" id="tanggal" name="tanggal" class="form-control" />
           </div>
           <div class="mb-3">
             <label for="keyword" class="form-label">Tema</label>
             <input type="text" id="keyword" name="keyword" class="form-control" placeholder="Cari tema..." />
           </div>
         </div>
         <div class="modal-footer">
           <button type="submit" class="btn">
             Terapkan Filter
           </button>
           <a href="/events" class="btn btn-secondary">Reset</a>
         </div>
       </div>
     </form>
   </div>
 </div>