<div class="modal fade" id="addSubfolderModal" tabindex="-1" aria-labelledby="addSubfolderLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-4">
      <form action="/manager/documents/folder" method="POST">
        <div class="modal-header text-white">
          <h5 class="modal-title" id="addSubfolderLabel">Tambah Subfolder</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Nama Subfolder</label>
            <input type="text" name="nama" class="form-control" required placeholder="Nama Subfolder">
          </div>

          <div class="mb-3">
            <label class="form-label">Folder Induk</label>
            <select name="parent" class="form-select" required>
              <option value="">-- Pilih Folder Induk --</option>
              <% folders.forEach(folder => { %>
                <option value="<%= folder._id %>"><%= folder.nama %></option>
              <% }) %>
            </select>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Buat Subfolder</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
        </div>
      </form>
    </div>
  </div>
</div>